$bg: #FDF7F1;
$default: #73654F;
$accent: #73732E;
$title: #59411F;
$btn: #4D381B;

%montserrat-400{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%playfairdisplay-700{
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 700;
}

%playfairdisplaysc-900{
  font-family: 'PlayfairDisplaySC';
  font-weight: 900;
}