@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header-top{
  background-color: $bg;
  padding: 15px 0;
  &__inner{
    max-width: 1040px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item{
    font-size: 15px;
    color: $accent;
  }
  &__item + .menu__item{
    margin-left: 15px;
  }
  &__link{
    color: inherit;
  }
}

.social{
  display: flex;
  align-items: center;
  &__link + .social__link{
    margin-left: 13px;
  }
  &__link{
    transition: all .3s;
    &:hover{
      transform: scale(2)
    }
  }
}


.slider{
  &__item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__item-inner{
    min-height: calc(100vh - 52px);
    max-width: 1040px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__item-content{
    max-width: 380px;
    margin-left: auto;
  }
  &__subtitle{
    font-size: 12px;
    line-height: 12px;
    color: $accent;
    text-transform: uppercase;
  }
  &__title{
    @extend %playfairdisplaysc-900;
    font-size: 54px;
    line-height: 80px;
    color: $btn;
    text-transform: uppercase;
  }
  &__text{
    max-width: 232px;
    color: $title;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .slick-dots{
    bottom: 14px;
  }
}

.slick-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  & button{
    font-size: 1px;
    background-color: transparent;
    border: 1px solid $accent;
    border-radius: 50%;
    padding: 0;
    width: 11px;
    height: 11px;
    cursor: pointer;
    outline: none;
  }
  li + li{
    margin-left: 10px;
  }
}

.slick-active{
  button{
    background-color: $accent;
  }
}

.about{
  padding: 68px 0;
  background-image: url('../images/line-bg.svg');
  background-repeat: no-repeat;
  background-position: top 27px center;
  &__container{
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
    padding-top: 10px;
  }
  &__title{
    margin-bottom: 12px;
    max-width: 297px;
  }
  &__text{
    max-width: 400px;
  }
  & .about__list{
    margin: 25px 0 15px 15px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 180px;
    max-width: 475px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #F2E4D6;
      left: 45%;
      top: 0;
    }
  }
  &__item{
    max-width: 220px;
    margin-bottom: 15px;
  }
}

.team{
  background-color: $bg;
  padding: 41px 0 69px;
  position: relative;
  .more{
    bottom: 61px;
  }
  &__title{
    max-width: 450px;
    margin-bottom: 10px;
  }
  &__slider{
    padding-bottom: 52px;
  }
  &__item{
    max-width: 202px;
  }
  &__img-box{
    overflow: hidden;
    max-height: 253px;
    width: 100%;
    margin-bottom: 9px;
  }
  &__img{
    object-fit: cover;
  }
  &__name{
    margin-bottom: 5px;
  }
  &__name-link{
    font-size: 16px;
    color: $default;
  }
  &__item-descr{
    color: $accent;
  }
}

.services{
  padding: 65px 0 40px;
  position: relative;
  background-image: url('../images/line-bg.svg');
  background-repeat: no-repeat;
  background-position: top 27px center;
  .more{
    bottom: 30px;
  }
  &__slider{
    display: none;
    &.services__slider--active{
      display: block;
      padding-bottom: 56px;
      position: relative;
      .services__item{
        width: 100%;
        display: inline-block;
      }
    }
  }
  &__item{
    height: 360px;
    width: 244px !important;
    padding: 46px 30px 29px;
    border: 1px solid #F2E4D6;
    text-align: center;
  }
  &__img-box{
    overflow: hidden;
    width: 157px;
    height: 157px;
    margin: 0 auto 28px;
  }
  &__img{
    object-fit: cover;
    width: 157px;
    height: 157px;
  }
  &__title{
    @extend %playfairdisplay-700;
    font-size: 16px;
    color: $btn;
    margin-bottom: 13px;
  }
  &__title-link{
    color: inherit;
  }
  &__num{
    color: $accent;
  }
}

.tabs{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #000;
    @extend %playfairdisplay-700;
    opacity: 0.5;
    &.tabs__btn--active{
      opacity: 1;
    }
  }
  &__img-box{
    display: block;
    padding: 14px;
    border-radius: 50%;
    background-color: $accent;
    max-width: 70px;
    margin: 0 auto 8px;
  }
}









@import 'media';

