@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header-top{
  background-color: $bg;
  padding: 15px 0;
  &__inner{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-btn{
  width: 20px;
  height: 15px;
  display: none;
  align-items: center;
  cursor: pointer;
  position: relative;
  span{
    width: 100%;
    height: 2px;
    background-color: $accent;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $accent;
    transition: all .3s;
  }
  &::before{
    top: 0;
  }
  &::after{
    bottom: 0;
  }
}

.menu{
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item{
    font-size: 15px;
    color: $accent;
  }
  &__item + .menu__item{
    margin-left: 15px;
  }
  &__link{
    color: inherit;
  }
}

.social{
  display: flex;
  align-items: center;
  &__link + .social__link{
    margin-left: 13px;
  }
  &__link{
    transition: all .3s;
    &:hover{
      transform: scale(2)
    }
  }
}


.slider{
  &__item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__item-inner{
    min-height: 540px;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  &__item-content{
    max-width: 380px;
    margin: 120px 0 180px;
  }
  &__subtitle{
    font-size: 12px;
    line-height: 12px;
    color: $accent;
    text-transform: uppercase;
  }
  &__title{
    @extend %playfairdisplaysc-900;
    font-size: 54px;
    line-height: 80px;
    color: $btn;
    text-transform: uppercase;
  }
  &__text{
    max-width: 232px;
    color: $title;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .slick-dots{
    bottom: 14px;
  }
}

.slick-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  & button{
    font-size: 1px;
    background-color: transparent;
    border: 1px solid $accent;
    border-radius: 50%;
    padding: 0;
    width: 11px;
    height: 11px;
    cursor: pointer;
    outline: none;
  }
  li + li{
    margin-left: 10px;
  }
}

.slick-active{
  button{
    background-color: $accent;
  }
}

.about{
  padding: 140px 0 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    margin-right: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 44px;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    list-style-type: none;
    counter-reset: list-counter;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #F2E4D6;
      left: 0;
      top: 50%;
    }
  }
  &__item{
    max-width: 210px;
    position: relative;
    padding: 36px 10px 11px 0 ;
    margin-left: 10px;
    border-right: 1px solid #F2E4D6;
    &::before{
      content: '0' counter(list-counter);
      counter-increment: list-counter;
      position: absolute;
      top: 11px;
      left: 10px;
      @extend %playfairdisplay-700;
    }
    &:nth-child(3){
      border-right: none;
    }
    &:nth-child(6){
      border-right: none;
    }
  }
  &__img-box{
    max-width: 460px;
    width: 100%;
    overflow: hidden;
  }
  &__img{
    max-width: 460px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__link{
    margin-top: 84px;
  }
}

.team{
  background-color: $bg;
  padding: 80px 0;
  &__inner{
    position: relative;
  }
  &__slider{
    padding-bottom: 52px;
  }
  &__item{
    max-width: 380px;
  }
  &__img-box{
    overflow: hidden;
    height: 420px;
    width: 100%;
    margin-bottom: 20px;
  }
  &__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__name{
    margin-bottom: 5px;
  }
  &__name-link{
    font-size: 16px;
    color: $default;
  }
  &__item-descr{
    color: $accent;
  }
}

.services{
  padding: 140px 0 80px;
  &__slider{
    display: none;
    &.services__slider--active{
      display: block;
      padding-bottom: 56px;
      position: relative;
      .services__item{
        width: 100%;
        display: inline-block;
      }
    }
  }
  &__item{
    height: 360px;
    width: 244px !important;
    padding: 46px 30px 29px;
    border: 1px solid #F2E4D6;
    text-align: center;
  }
  &__img-box{
    overflow: hidden;
    width: 157px;
    height: 157px;
    margin: 0 auto 28px;
  }
  &__img{
    object-fit: cover;
    width: 157px;
    height: 157px;
  }
  &__title{
    @extend %playfairdisplay-700;
    font-size: 16px;
    color: $btn;
    margin-bottom: 13px;
  }
  &__title-link{
    color: inherit;
  }
  &__num{
    color: $accent;
  }
}

.tabs{
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color:$title;
    @extend %playfairdisplay-700;
    &.tabs__btn--active{
      color: #BDBD4E;
    }
  }
  &__img-box{
    display: block;
    padding: 14px;
    border-radius: 50%;
    background-color: $accent;
    max-width: 70px;
    margin: 0 auto 8px;
  }
  &__content{
    position: relative;
  }
}

.programs{
  background-color: $bg;
  padding: 80px 0;
  text-align: center;
  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 10px;
  }
  &__item{
    max-width: 380px;
    padding: 0 10px;
    margin: 0 30px 70px 0;
    &:nth-child(3){
      margin-right: 0;
    }
    &:nth-child(6){
      margin-right: 0;
    }
  }
  &__img{
    margin: 0 auto 8px;
  }
  &__name-link{
    display: block;
    @extend %playfairdisplay-700;
    color: $title;
    font-size: 16px;
    margin-bottom: 3px;
  }
  &__descr{
    color: $default;
  } 
}

.gallery{
  padding: 140px 0 80px;
  text-align: center;
  &__inner{
    position: relative;
  }
  &__slider{
    margin-top: 26px;
    padding-bottom: 42px;
  }
  &__item{
    max-width: 375px;
    height: 218px;
    overflow: hidden;
    margin: 0 12px 15px;
  }
  &__item-img{
    object-fit: cover;
    height: 100%;
    max-width: 375px;
    width: 100%;
  }
}

.footer{
  background-color: $bg;
  padding: 80px 0 70px;
  font-size: 10px;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__work{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px 9px;
    margin: 24px 0 17px;
  }
  &__social{
    justify-content: flex-end;
  }
  &__title{
    @extend %playfairdisplay-700;
    font-size: 12px;
    line-height: 18px;
    color: $accent;
    margin-bottom: 17px;
  }
  &__contacts-item{
    max-width: 125px;
    padding-left: 18px;
    margin-bottom: 5px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  }
  &__contacts-addres::before{
    background-image: url('../images/icons/addres.svg');
  }
  &__contacts-tel::before{
      background-image: url('../images/icons/phone.svg');
  }
  &__contacts-link{
    color: $default;
  }
  &__contacts-mail::before{
    background-image: url('../images/icons/mail.svg');
  }
  &__news-text{
    max-width: 278px;
    margin-bottom: 25px;
  }
}

.form{
  display: flex;
  align-items: center;
  &__input{
    max-width: 165px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $accent;
    background-color: transparent;
    padding: 2px 5px;
    margin-right: 3px;
    &::placeholder{
      color: $default;
    }
  }
  &__btn{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/form-btn.svg');
    animation: plane-btn 0.8s linear infinite;
    &:hover{
      animation: none;
    }
  }
}

@keyframes plane-btn{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(0);
  }
}






@import 'media';

